<!DOCTYPE html>
<html ng-app="ben">
  <head>
    <meta charset="utf-8">
    <title>My first angular app</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller="MyController">
    <input type="text" ng-model="mirror" placeholder="Enter your name">
    <p>
      {{mirror}}
    </p>
    <input type="text" ng-model="mirror2" placeholder="Enter your name">
    <p>
      {{mirror2 | uppercase}}
    </p>
  </body>
</html>
