<!DOCTYPE html>
<html ng-app="ben">
  <head>
    <meta charset="utf-8">
    <title>Contractors</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-controller="MyController">
    <p ng-hide="contractors.length === 0">
    Search:
    <input type="text" ng-model="searchable.name">
    </p>
    <form ng-submit="getContractor()">
      <input type="text" ng-model="name" ng-hide="contractors.length === 0" placeholder="Name">
      <input type="text" ng-model="rate" ng-hide="contractors.length === 0" placeholder="Rate">
      <input type="submit" ng-hide="contractors.length > 1" value="Add">
      <input type="submit" ng-hide="contractors.length <= 1 || contractors.length > 3" value="Add another">
      <input type="submit" ng-show="contractors.length > 3" value="Really?">
    </form>
    <p>
      <div ng-repeat="contractor in contractors | filter:searchable">
        <p>{{contractor.name}}</p>
        <p>{{contractor.rate | currency}}</p>
        <div ng-show="contractor.rate > 100">
          This rate is high!
        </div>
        <hr ng-hide="contractors.length <= 1">
      </div>
    </p>
  </body>
</html>
